:root {
  --dark: #28303D;
  --light: #D0D8D8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--dark);
  font: var(--light);
  font-size: 1.75rem;
  line-height: 1.5;
  display: grid;
  height: 1000px;
  grid-template-rows: 2fr 2fr 1fr 4fr 1fr 5fr 3fr 3fr 3fr 3fr 1fr 3fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header"
  "hero-banner"
  "About"
  "aboutsection" 
  "Work"
  "Big"
  "item1"
  "item2"
  "item3"
  "item4"
  "Contact"
  "details"
  ;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* My name */
.page-title {
  background-color: var(--light);
  font: var(--dark);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  float: left;
  padding: 0px 10px;
}

/* Menu */ 
nav {
  font: var(--light);
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  margin-top: 5px;
}

nav ul {
  list-style-type: none;
  text-align: right;
  width: 50%;
  position: absolute;
  right: 15px;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
}

a {
  color: var(--light);
  text-decoration: none;
}

/* Cloud banner */

.hero-banner {
    background-image: url("../images/herobanner.png");
  background-size: cover;
  background-position: center;
}

.heroheader {
  background-color: var(--dark);
  font: var(--light);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  float: right;
  padding: 0 5px;
  margin: 15px 0;
}

/* Section headings */

.About, .Work, .Contact {
  background-color: var(--light);
  font: var(--dark);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  float: left;
  padding: 0px 10px;
  width: 100%;
  margin-bottom: 12px;
}

/* About me section */

.page-section1 {
  display: grid;
}

.aboutsection {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 9fr;
  grid-template-areas: "me abouttext";
}

.me {
  grid-area: "me";
  margin-left: 25px;
  margin-right: 25px;
}

.abouttext {
  grid-area: "abouttext";
  font: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  padding: 10px;
}

/* Work example labels */

.label {
  background-color: var(--dark);
  font: var(--light);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  float: left;
  position: relative;
  margin-top: -50px;
  padding: 0px 10px;
}

/* Contact me content */
.page-section3 {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr;
  grid-template-areas: "details";
}

.details {
  font: var(--light);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  margin-top: 5px;
  grid-area: "details";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: underline;
}




/* Responsive elements for desktop */

@media screen and (min-width: 768px) { 
  /* Section headings no longer full width */
  .About, .Work, .Contact {
    background-color: var(--light);
    font: var(--dark);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    float: left;
    padding: 0px 10px;
  }

  .page-wrapper {
    display: grid;
  }

  /* About section */
  .page-section1 {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "About aboutsection"
  }

  .me {
    grid-area: "me";
    margin: 25px 25px;
  }

  .abouttext {
    grid-area: "abouttext";
    font: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    padding: 10px;
    margin-top: 25px;
  }

  /* Work section */

  .page-section2 {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "Work examples";
  }

  .examples {
    margin: 0 10px;
  }

  /* Work examples */
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "item1 item2"
    "item3 item4";
  }
  .item1 {
    grid-area: item1;
    margin-right: 5px;
  }
  .item2 {
    grid-area: item2;
    margin-left: 5px;
  }
  .item3 {
    grid-area: item3;
    margin-right: 5px;
  }
  .item4 {
    grid-area: item4;
    margin-left: 5px;
  }


  /* Contact details */

  .page-section3 {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "Contact details"
  }

  .Contact {
    grid-area: Contact;
  }

  .details {
    grid-area: details;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -10px;
  }

  .details a {
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
  }

}